<% content_for :title, "Account Settings" %>

<%= render layout: "shared/tool_container", locals: { title: "Account Settings", variant: :centered } do %>
  <div class="tool-part">
    <div class="tool-part-body">
      <%= render "devise/registrations/account_settings_form" %>
    </div>
  </div>
<% end %>
