<% frame_id = @bundle_modal_frame_id.presence || "thread_editor_bundle_#{@sequence.id}" %>
<%= turbo_frame_tag frame_id do %>
  <div class="bundle-modal-shell bundle-modal-shell--thread-embed">
    <%= render "bundles/bundle_editor_main", modal: true, thread_panel_editor_embed: true %>
  </div>
<% end %>
