<div class="application-shell" data-controller="application-settings workspace-font-size">
  <%= render "layouts/application_header" %>
  <main class="tool-canvas" id="tool-canvas">
    <%= yield %>
  </main>
</div>
