<main class="workspace-made prompt-made-main" aria-label="Made" data-controller="process-card-modal">
  <%= turbo_frame_tag "made_board" do %>
    <% if @made_timeline&.ready? %>
      <%= render "sequences/made_timeline", timeline: @made_timeline %>
    <% else %>
      <%= render "sequences/process_board_empty_state" %>
    <% end %>
  <% end %>
  <%= render "sequences/process_card_modal" %>
</main>
