<main class="workspace-process prompt-process-main" aria-label="Making" data-controller="process-card-modal">
  <%= turbo_frame_tag "process_board" do %>
    <% if @process_board&.ready? %>
      <%= render "sequences/process_board", board: @process_board %>
    <% else %>
      <%= render "sequences/process_board_empty_state" %>
    <% end %>
  <% end %>
  <%= render "sequences/process_card_modal" %>
</main>
