<% frame_id = @sequence_modal_frame_id.presence || "thread_editor_sequence_#{@sequence.id}" %>
<%= turbo_frame_tag frame_id do %>
  <div class="bundle-modal-shell bundle-modal-shell--thread-embed">
    <%= render "sequences/sequence_editor_main", modal: true, thread_panel_editor_embed: true %>
  </div>
<% end %>
